<!--Just type ! and press Enter to get a prefilled skeletal code of html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello food lover! </title> <!--Whatever is written under title is dispalyed on the tab of the webpage-->
    <link rel="stylesheet" href="/static/style.css?nocache={timestamp}" type="text/css"/><!--linking css style sheet to html, note background goes in here!-->
</head>
<body>
    <h1>Hello food lover! Welcome to {{name}}</h1> <!--Passing the jinja template, the value of name is passed from python file to html-->
    <h2>where you can find your next favourite recipe ❥ ♥</h2>
    <img src="static/logo.png"/><img src="static/logo.png"/><img src="static/logo.png"/><img src="static/logo.png"/><img src="static/logo.png"/> <!--Placing an image in html-->

    <p>Click here for the current top 100 rated recipes 🥑</p>
    <form action="/top_100">
        <button type="submit">Show me the top 100 recipes!</button>
    </form>   

    <p>Nothing caught your eye in the top 100? Click here for some inspo! 🥗</p>
    <!--Creating a form for the user to input values through the webpage-->
    <form action="/random_reco"> <!--After clicking on submit button the routing is done on the /recommend-->
        <button type="submit">Show me something new!</button>
    </form>  

    <p>Let's get to know each other! Click here to get personalised recipe recommendations 🍊</p>
    <!--Creating a form for the user to input values through the webpage-->
    <form action="/recommender_user"> <!--After clicking on submit button the routing is done on the /recommender_user-->
        {% for index in range(5) %}
        <!--name passed inorder to reference the input tag, placeholder writes text inside input field, note recipes the keys for dict, defn in app-->
        <input type="text" name="recipe" placeholder="Enter recipes" list="recipes" required>
        <input type="number" name="ratings" placeholder="(1-5)" min="1" max="5" required>
        <br>
        {% endfor %}
        <button type="submit">Show me my personalised recommendation!</button>
    </form>
        <datalist id="recipes">
            {%for recipe in recipes %}
            <option value = "{{recipe}}"></option>
            {% endfor %}
        </datalist> 

</body>
</html>